{% load staticfiles %}



<title>Secret landing page</title>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<body>

<nav>
	<h1 class="homenav">Secret Codes</h1>
</nav>
	<h2 class="home_sub_heading">Welcome! You are here to store and claim your deepest secrets.   If you are here to claim your secret please fill out the form below with your login information.  Happy secret-ing! </h2>
	<h3 class="home_sub_heading">If you don't have an account please sign up <a href="signup">here</a></h3>
{{ username }}
<div class="input">
<form enctype="multipart/form-data" action="secret" method="post">
{% csrf_token %}  
		<br>
        Username: <input type="text" placeholder="username" name="name"/><br>
        <br>
        Password: <input type="text" placeholder="password" name="passwd"/><br>
        <br>
    <input type="submit" value="Submit" />
</form>
</div>
<a href="getaccess">
<button>
Don't Click
</button>
</a>

<script type="text/javascript">
	function getClue(){
      var cookie_fields = (document.cookie).split("; ");
      alert("COOKIE INFO: " + cookie_fields);
	}





</script>
</body>