{% load staticfiles %}



<title>Secret landing page</title>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<body>

<nav>
	<h1 class="homenav">Secret Codes</h1>
</nav>
	<h2 class="home_sub_heading">Welcome classified informtion keeper! You are here to claim your secret code.   Please log in below to verify your identity as the one classified information keeper and get access to the secret code.  Just to remind you, your username is admin. </h2>

<div class="input">
<!-- No form protection whatsoever, CSRF later not disabled -->
<form enctype="multipart/form-data" action="secret" method="post">
{% csrf_token %}  
		<br>
        Username: <input type="text" placeholder="username" name="name"/><br>
        <br>
        Password: <input type="text" placeholder="password" name="passwd"/><br>
        <br>
    <input type="submit" value="Submit" />
</form>
</div>

</body>