{% load staticfiles %}



<title>Secret landing page</title>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<body>

<nav>
	<h1 class="homenav">Secret Codes</h1>
</nav>
	<h2 class="home_sub_heading">Welcome! You are here to store and claim your deepest secrets.   If you are here to claim your secret please fill out the form below with your login information.  Happy secret-ing! </h2>
	<h3 class="home_sub_heading">If you don't have an account please sign up <a href="signup">here</a></h3>
{{ username }}
<div class="input">
<form enctype="multipart/form-data" action="secret" method="post">
{% csrf_token %}  
		<br>
        Username: <input type="text" placeholder="username" name="name"/><br>
        <br>
        Password: <input type="text" placeholder="password" name="passwd"/><br>
        <br>
    <input type="submit" value="Submit" />
</form>
</div>
<a href="getaccess">




<button onclick="getHint()"></button>


</a>
<br>
<h3>Post a hint to your password below.  Include your username.  </h3>
<form enctype="multipart/form-data" action="hints" method="post">
{% csrf_token %}  
        Username: <input type="text" placeholder="username" name="username"/><br><br>
        Hint:    <input type="text" placeholder="hint" name="hint"/><br>
        <br>
    <input type="submit" value="Submit" />
</form>
<h3>Hints: </h3>
<div class="comments">
 <!--  {% for item in hints %}
  {{ item.username }}
  <div class="js" id="js">{{ item.hint }}</div>
  <br>
  {% endfor %} -->
  {{ hint.username }}
  <div class="js" id="js">{{ hint.hint }}</div>
</div>
<br>
<button id="unsafe" onclick="getHint()">Click here for {{ hint.username }}'s password!
</button>


<script type="text/javascript">
  var counter = 0;
	function getHint(){
      var code = document.getElementById("js").textContent;
      var thisvar  = eval(code)
      document.getElementById("unsafe").value = thisvar;
      counter += 1;
	}
</script>
</body>